.links{
    margin-top: 42%;
    text-align: center;
    font-size: 50px;
}

.a1{
    
    color: rgb(136, 250, 246);
 }
.a2{
   margin-left: 2%;
   color:rgb(136, 250, 246);
}
.a3{
    margin-left: 2%;
    color:rgb(136, 250, 246);
 }
 .a4{
    margin-left: 2%;
    color: rgb(136, 250, 246);
 }
 .a5{
    margin-left: 2%;
    color: rgb(136, 250, 246);
 }